{% extends "base/manager-base.html" %} 
{% block container %} 
{% load static %}
{% include 'includes/manager-nav.html' %}

<section class="p-10">
    <div class="flex justify-between items-center mb-5">
        <h1 class="font-bold text-2xl">ORDERS</h1>
    </div>

    <div class="overflow-x-auto border rounded-md shadow-md">
        <table class="min-w-full text-left text-sm font-light border border-gray-300 rounded-md overflow-hidden">
            <thead class="bg-gradient-to-r from-blue-500 to-indigo-600 text-white">
                <tr>
                    <tr>
                        <th scope="col" class="px-6 py-4">Name And Address</th>
                        <th scope="col" class="px-6 py-4">Products</th>
                        <th scope="col" class="px-6 py-4">Total</th>
                    </tr>
                </tr>
            </thead>
            <tbody>
                {% for instance in instances %}
                    <tr class="border-b border-gray-300">
                        <td class="whitespace-nowrap px-6 py-4">
                            {{instance.customer.user.first_name}} <br>
                            {{instance.address}} <br>
                            {{instance.pincode}}
                        </td>
                        <td class="whitespace-nowrap px-6 py-4">
                            {% for item in instance.items.all %}
                            <p>{{item.product.name}} x {{item.qty}}</p>
                            {% endfor %}
                        </td>
                        <td class="whitespace-nowrap px-6 py-4">{{instance.amount}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}
